.card {
  width: 100%;
  max-width: 400px;
  margin: 12px auto;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1.5px solid #c5cae9;;
}

.Active{
  border: 1.5px solid green;
}
.Inactive{
  border: 1.5px solid red;
}

.card input{
  color: #ffffff;
}
.card mat-label{
  color: #e1dfdf;
}

.card mat-card-subtitle{
  color: #999999;
}

[mat-card-avatar] img {
  width: 48px;
  height: 48px;
}

/* Content section */
mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 8px;
}

/* Text rows */
mat-card-content p {
  margin: 0;
  font-size: 0.9rem;
}

/* Button alignment */
mat-card-content button {
  align-self: flex-start;
  margin-top: 0.5rem;
  background: #bbdefb;
  color: #1565c0;
}
mat-card-content button:disabled {
  background: #dcdcdd;
  color: #808181;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s ease-in-out;
}