.input{
    background-color: black;
    caret-shape: block;
    caret-color: rgb(238, 244, 238);
    border: none;
    outline: none;
    color: inherit;
    font: inherit;
    width: 95vw;
}

pre{
    white-space: pre-wrap;
    margin: 0.3rem 0;
}

.commands-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 36vh;
  background-color: #1e1e1e;
  color: inherit;
  border-left: 2px solid #3e3e3e;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.commands-panel h3 {
  margin-top: 0;
  color: inherit;
  font: inherit;
  font-size: 1.2rem;
  border-bottom: 2px solid #3e3e3e;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.command-list {
  display: flex;
  flex-direction: column;
}

.command-list p{
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

